body, html
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	background-color: black;
}

#paste_main
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	/* background-image: url("/img/background.jpg"); */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
}

#paste_comment_container
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: 100%;
	max-width: 100%;
	position: relative;
	background-color: #222126;
	color: white;
	overflow: hidden;
	outline: 0;
	border: 0;
}

#paste_comment_placeholder
{
	position: absolute;
	color: grey;
}

#paste_comment_content
{
	background-color: #222126;
	outline: none;
	border: none;
	text-align: center;
	font-size: 1.1rem;
	width: 100%;
	max-width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

#paste_comment_content:empty
{
	background-color: transparent;
}

#paste_comment_content:focus
{
	background-color: #222126;
}

#paste_toolbar
{
	background-color: #393b4d;
	height: 3rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/* opacity: 0.95; */
}

.paste_toolbar_button_container
{
	color: white;
	flex: 1 1 0;
	text-align: center;
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: background-color 250ms ease;
}

.paste_toolbar_button_container:hover
{
	background-color: #545469;
}

.paste_toolbar_button
{
	font-size: 1.1rem;
}

.paste_disabled
{
	opacity: 0.5;
	pointer-events: none;
}

.paste_border_left
{
	border-left: 2px solid #373742;
}

.paste_border_right
{
	border-right: 2px solid #373742;
}

.paste_action
{
	transition: text-shadow 250ms;
}

.paste_action:hover
{
	text-shadow: 0 0 1em currentColor;
}

#paste_content_main
{
	position: absolute;
	top: 5rem;
	bottom: 0rem;
	width: 100%;
	background-color: #262833;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

#paste_render_container
{
	flex: 1 1 50%;
	display: none;
	height: 100%;
	background-color: white;
	color: black;
	overflow: hidden;
}

#paste_render_iframe
{
	position: relative;
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
}

.CodeMirror
{
	flex: 1 1 50%;
	position: relative;
	height: 100%;
	font: 400 18px monospace;
	/* opacity: 0.95; */
}

.CodeMirror-lines
{
	padding-top: 12px !important;
	padding-bottom: 12px !important;
}

.CodeMirror-simplescroll-vertical,
.CodeMirror-simplescroll-horizontal
{
	width: 10px !important;
}

.paste_unselectable
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#paste_footer
{
	position: fixed;
	bottom: -3rem;
	left: 0;
	width: 100%;
	height: 3rem;
	font-size: 1.1rem;
	background-color: #201e2a;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999999999;
	transition: bottom 500ms linear;
}

.CodeMirror-simplescroll-horizontal, .CodeMirror-simplescroll-vertical
{
	background-color: #373947;
}

.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div
{
	background: #535672;
	border: 0px solid #535672;;
}

#paste_overlay
{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999;
	display: none;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.5);
}

#paste_modal
{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #524c70;
	color: white;
	z-index: 9999999999;
	width: 35rem;
	height: 38rem;
	display: none;
	overflow: hidden;
	flex-direction: column;
}

#paste_modal_titlebar
{
	flex-grow: 0;
	flex-shrink: 0;
	color: white;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0.8rem;
	margin-bottom: 1rem;
}

#paste_modal_titlebar_inner
{
	font-size: 1.6rem;
	cursor: pointer;
}

#paste_modal_filter_container
{
	flex-grow: 0;
	flex-shrink: 0;
	text-align: center;
	margin-bottom: 1rem;
	position: relative;
	width: 100%;
	z-index: 999;
}

#paste_modal_filter
{
	width: 80%;
	font-size: 25px;
	text-align: center;
	color: #171717;
	box-shadow: 0 0 5px black;
	border: 0;
	outline: none;
}

#paste_modal_inner
{
	flex-grow: 0;
	flex-shrink: 1;
	position: relative;
	height: 100%;
	width: 100%;
	max-height: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
}

.paste_modal_item
{
	padding: 1rem;
}

.paste_modal_item_highlighted
{
	box-shadow: 0 0 10px black;
}

.spacer1
{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	width: 1px;
	height: 1px;
}

.paste_history_item
{
	color: black;
	font-size: 1.2rem;
	text-decoration: none;
	margin-bottom: 2rem;
	width: 80%;
	cursor: pointer;
}

.paste_history_item_owner
{
	color: #b2adb1;
	font-size: 1rem;
}

.paste_history_item_url
{
	color: white;
	font-size: 1.2rem;
	text-align: center;
}

.paste_history_item_mode_name
{
	padding-top: 0.5rem;
	padding-bottom: 0.8rem;
	text-align: center;
	font-size: 1rem;
	color: white;
}

.paste_history_item_comment
{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
	font-size: 1.2rem;
	color: white;
	overflow-wrap: break-word;
}

.paste_history_item_sample
{
	margin-top: 0.2rem;
	background-color: #7b729f;
	color: white;
	text-align: center;
	padding: 0.5rem;
	overflow-wrap: break-word;
}

#paste_mode_selector_container
{
	position: relative;
	width: 80%;
}

.paste_mode_selector_item
{
	font-size: 1.4rem;
	cursor: pointer;
	background-color: #7b729f;
	color: white;
	text-align: center;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	margin-bottom: 1rem;
}

#paste_textarea
{
	display: none;
}

#paste_loading
{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: black;
	z-index: 999999999999999;
	display: flex;
	align-items: center;
	justify-content: center;
}

#paste_loading_content
{
	color: #dfdfdf;
	font-size: 2rem;
}

input[type=text]
{
	background-color: white;
	color: black;
}